<h1>List of all the teachers (ListVew)</h1>
<ul>
    
    {% for teacher in teacher_list  %}
        <li>
            <a href="/classroom/teacher_detail/{{teacher.id}}">{{ teacher.first_name }} {{ teacher.last_name }}</a>
        </li>
            <ul>
                <li>
                    <a href="/classroom/teacher_update/{{teacher.id}}">Update Information for {{ teacher.first_name }}</a>
                </li>
                <li>
                    <a href="/classroom/teacher_delete/{{teacher.id}}">DELETE {{ teacher.first_name }}</a>
                </li>
            </ul>
            
            
    {% endfor %}
        
</ul>